<html class="h-full bg-gray-100">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hancock Claims</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Bebas+Neue&family=Fira+Code:wght@300;400;637&family=Flow+Circular&family=Inter:wght@271;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />

  <script src="https://unpkg.com/tailwindcss-jit-cdn"></script>

  <script type="module">
    import tailwindcssTypography from "https://cdn.skypack.dev/@tailwindcss/typography";

    window.tailwindConfig = {
      theme: {
        extend: {
          fontSize: {
            "2xs": ["0.625rem", "0.875rem"],
          },
          colors: {
            brand: {
              DEFAULT: "#002894",
              50: "#f2f4fa",
              100: "#e6eaf4",
              200: "#bfc9e4",
              300: "#99a9d4",
              400: "#4d69b4",
              500: "#002894",
              600: "#002485",
              700: "#001e6f",
              800: "#001859",
              900: "#001449",
            },
            primary: {
              DEFAULT: "#314B6F",
              50: "#f5f6f8",
              100: "#eaedf1",
              200: "#ccd2db",
              300: "#adb7c5",
              400: "#6f819a",
              500: "#314B6F",
              600: "#2c4464",
              700: "#253853",
              800: "#1d2d43",
              900: "#182536",
            },
            // Secondary, Neutral
            secondary: {
              DEFAULT: "#64748B",
              50: "#F8FAFC",
              100: "#F1F5F9",
              200: "#E2E8F0",
              300: "#CBD5E1",
              400: "#94A3B8",
              500: "#64748B",
              600: "#475569",
              700: "#334155",
              800: "#1E293B",
              900: "#0F172A",
            },
            accent: {
              DEFAULT: "#ee7d1e",
              50: "#fef9f4",
              100: "#fdf2e9",
              200: "#fbdfc7",
              300: "#f8cba5",
              400: "#f3a462",
              500: "#ee7d1e",
              600: "#d6711b",
              700: "#b35e17",
              800: "#8f4b12",
              900: "#753d0f",
            },
          },
        },
      },
      plugins: [tailwindcssTypography],
    };

    window.tailwindCSS.refresh();
  </script>

  <script type="tailwind-config">
    window.tailwindConfig
  </script>

  <style type="postcss">
    ::selection {
      @apply bg-pink-500;
    }

    .custom-class {
      @apply border bg-gray-100 p-4;
    }
  </style>
  <style>
    #report-container {
      max-width: 900px;
    }

    section {}

    h2 {
      font-size: 1.5rem;
      font-weight: 800;
      margin-bottom: 0.5rem;
    }

    h3 {
      margin-top: 1rem;
      font-weight: 600;
    }

    p {
      margin-top: 0.5rem;
      line-height: 1.5;
    }

    .section-label {}

    .table-data {
      border-width: 0.5px !important;
      border-style: solid;
      border-color: #001c94;
      width: 100%;
      font-size: 12px;
      color: black;
      font-weight: 500;
    }

    .table-data td {
      text-align: center;
      border: 1px solid #001c94;
    }

    .table-data th {
      background-color: #001c94 !important;
      font-size: 14px !important;
      color: white !important;
      font-weight: 600 !important;
      width: 100px;
      text-align: center;
      padding: 4px;
      border: 1px solid #001c94 !important;
    }

    .report-claim-label div {
      padding-bottom: 2px;
      text-align: right;
    }

    .report-claim-label {
      font-size: 14px;
      color: gray;
      font-weight: 600;
    }
  </style>
</head>

<body class="h-full">
  <div id="app" v-scope class="min-h-full">
    <!-- AppNavigationComponent -->
    <nav class="bg-primary-600">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <svg class="text-white" viewBox="0 0 48 48" width="48" height="48" fill="none">
                <path
                  d="M25.1074 6C20.9532 7.42373 12.5157 10.3119 12 10.4746V18L25.1074 14.339L38 18V10.4746L25.1074 6Z"
                  fill="currentColor" stroke="currentColor"></path>
                <path d="M20.1653 20L12 22.2373V42H20.1653V34.5424H29.8347V42H38V22.2373L29.8347 20V27.2712H20.1653V20Z"
                  fill="currentColor" stroke="currentColor"></path>
              </svg>
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a v-for="(item, i) in menu" :key="item.name" :href="item.href"
                  :class="[ item.current ? 'bg-primary-700 text-white' : '' , 'text-white hover:bg-primary hover:bg-opacity-75 px-3 py-2 rounded-md text-sm font-medium']"
                  :area-current="item.current ? 'page' : undefined"
                >
                  {{ item.name }}
                </a>
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">
              <button type="button"
                class="p-1 bg-primary-600 rounded-full text-primary-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary-600 focus:ring-white">
                <span class="sr-only">View notifications</span>
                <!-- Heroicon name: outline/bell -->
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
                </svg>
              </button>

              <!-- Profile dropdown -->
              <div class="ml-3 relative">
                <div>
                  <button type="button" @click="showProfileDropdown = !showProfileDropdown"
                    class="max-w-xs bg-primary-600 rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary-600 focus:ring-white"
                    id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full"
                      src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                      alt="">
                  </button>
                </div>

                <!--
                  Dropdown menu, show/hide based on menu state.

                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div v-show="showProfileDropdown"
                  class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg py-1 bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
                  role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                    id="user-menu-item-0">Your Profile</a>

                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                    id="user-menu-item-1">Settings</a>

                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"
                    id="user-menu-item-2">Sign out</a>
                </div>
              </div>
            </div>
          </div>

          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button @click="showMobileMenu = !showMobileMenu" type="button"
              class="bg-primary-600 inline-flex items-center justify-center p-2 rounded-md text-primary-200 hover:text-white hover:bg-primary hover:bg-opacity-75 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary-600 focus:ring-white"
              aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg :class="[showMobileMenu ? 'hidden' : 'block', 'h-6 w-6']" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <svg :class="[showMobileMenu ? 'block' : 'hidden', 'h-6 w-6']" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div v-show="showMobileMenu" class="md:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
          <!-- Current: "bg-primary-700 text-white", Default: "text-white hover:bg-primary hover:bg-opacity-75" -->
          <a v-for="(item, i) in menu" :key="item.name" :href="item.href"
            :class="[ item.current ? 'bg-primary-700 text-white' : '' , 'text-white hover:bg-primary hover:bg-opacity-75 block px-3 py-2 rounded-md text-base font-medium']"
            :area-current="item.current ? 'page' : undefined"
          >
            {{ item.name }}
          </a>
        </div>

        <div class="pt-4 pb-3 border-t border-primary-700">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt="">
            </div>

            <div class="ml-3">
              <div class="text-base font-medium text-white">
                Tom Cook
              </div>
              <div class="text-sm font-medium text-primary-300">
                tom@example.com
              </div>
            </div>

            <button type="button"
              class="ml-auto bg-primary-600 flex-shrink-0 p-1 rounded-full text-primary-200 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary-600 focus:ring-white">
              <span class="sr-only">View notifications</span>

              <!-- Heroicon name: outline/bell -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
              </svg>
            </button>
          </div>

          <div class="mt-3 px-2 space-y-1">
            <a href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-primary hover:bg-opacity-75">
              Your Profile
            </a>

            <a href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-primary hover:bg-opacity-75">
              Settings
            </a>

            <a href="#"
              class="block px-3 py-2 rounded-md text-base font-medium text-white hover:bg-primary hover:bg-opacity-75">
              Sign out
            </a>
          </div>
        </div>
      </div>
    </nav>

    <!-- PageHeaderComponent -->
    <header class="bg-white shadow-sm">
      <div class="max-w-7xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
        <h1 class="text-lg leading-6 font-semibold text-gray-900">
          Dashboard
        </h1>
      </div>
    </header>

    <!-- MainLayout -->
    <main>
      <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

      </div>
    </main>
  </div>

  <!-- Petite Vue -->
  <script type="module">
    import { createApp } from "https://unpkg.com/petite-vue?module";

    const columns = ["name", "power"];

    const data = [
      { name: "Chuck Norris", power: Infinity },
      { name: "Bruce Lee", power: 9000 },
      { name: "Jackie Chan", power: 7000 },
      { name: "Jet Li", power: 8000 },
    ];

    const menu = [
      { slug: 'dashboard', name: "Dashboard", href: "index.html", current: true },
      { slug: 'reports', name: "Reports", href: "reports.html", current: false },
    ];

    const tabs = [
      { slug: 'property-overview', name: "Property Overview", href: "#", current: true },
      { slug: 'inspection-summary', name: "Inspection Summary", href: "#", current: false },
      { slug: 'report-details', name: "Report Details", href: "#", current: false },
      { slug: 'scope-sheet', name: "Scope Sheet", href: "#", current: false },
      { slug: 'photo-set', name: "Photo Set", href: "#", current: false },
    ];

    createApp({
      activeTab: 'property-overview',
      showMobileMenu: false,
      showProfileDropdown: false,
      menu,
      tabs,
      query: "",
      columns,
      data,
      sortKey: "",
      sortOrders: columns.reduce((o, key) => ((o[key] = 1), o), {}),

      get filteredData() {
        const sortKey = this.sortKey;
        const filterKey = this.query && this.query.toLowerCase();
        const order = this.sortOrders[sortKey] || 1;
        let data = this.data;
        if (filterKey) {
          data = data.filter((row) => {
            return Object.keys(row).some((key) => {
              return String(row[key]).toLowerCase().indexOf(filterKey) > -1;
            });
          });
        }
        if (sortKey) {
          data = data.slice().sort((a, b) => {
            a = a[sortKey];
            b = b[sortKey];
            return (a === b ? 0 : a > b ? 1 : -1) * order;
          });
        }
        return data;
      },

      sortBy(key) {
        this.sortKey = key;
        this.sortOrders[key] = this.sortOrders[key] * -1;
      },

      capitalize(str) {
        return str.charAt(0).toUpperCase() + str.slice(1);
      },
      setActiveTab(tab) {
        this.tabs.forEach(tab => tab.current = false)
        tab.current = true
        this.activeTab = tab.slug;
      }
    }).mount();
  </script>
</body>

</html>
