@using Exemplar.Web.Areas.PropertyInspection.Models;
@model Exemplar.Web.Areas.PropertyInspection.Models.ReportType;

@if (@Model == ReportType.DirectInspectionShingles || @Model == ReportType.DirectInspectionNoBt)
{
  <div class="SectionLabel">Roof - Hail</div>
  <p class="mt-2">
    Hail damage to a composition shingle roof system consists of bruising or fracturing of the shingle mat.
    Bruising is most common at unsupported locations and usually requires manual examination to confirm that
    damage has occurred to the shingle mat. Fracturing typically occurs at unsupported locations and is
    readily evident. These conditions can promote the absorption of moisture and subsequent
    deterioration of a shingle. Hail damage to a roof is quantified by the analysis of
    "test squares" (10' x 10' Area). The purpose of the test squares is to determine the amount of
    hail damage in a representative area of the roof. The test square results are then applied to
    individual roof fields, or the roof as a whole, to estimate the total damage incurred.
    Protocol calls for the examination of four (4) test squares – One (1) facing each direction.
    Larger and/or more complex roofs typically require additional test squares at the discretion
    of the adjuster. Additionally, a cursory overview of the remainder of each field is conducted
    to confirm the findings of the test squares.
  </p>
}


@if (@Model == ReportType.DirectInspectionAsphaltRoof)
{
  <div class="SectionLabel">Roof - Hail</div>
  <p class="mt-2">
    Damage from hail to single ply membranes will be in the form of punctures, tears, and fractures to the membrane.
    Special attention is focused at unsupported areas such as flashings and parapet walls. The roof system is also
    vulnerable to damage if a hail stone strikes the membrane at the exact point where an insulation board fastener
    is located. These are called “anvil” strikes and can often create an opening in the membrane. Hail damage to
    a roof is quantified by the analysis of “test squares” (10’ x 10’ Area). The purpose of the test squares is to
    determine the amount of hail damage in a representative area of the roof. The test square results are then
    applied to the individual roof fields, or the roof as a whole, to estimate the total damage incurred. Protocol
    calls for the examination of four (4) test squares – One (1) facing each direction. Larger and/or more complex
    roofs typically require additional test squares at the discretion of the adjuster. Additionally, a cursory
    overview of the remainder of each field is conducted to confirm the findings of the test squares.
  </p>
}

@if (@Model == ReportType.DirectInspectionTile)
{
  <div class="SectionLabel">Roof - Hail</div>
  <p class="mt-2">
    Hail generally shatters or breaks tile in a splayed pattern originating from the impact location,
    and the windward slopes usually sustain more predominant damage. Often it is the unsupported corners and
    edges that sustain damage while the remainder of the tile escapes damage. The presence of spatter marks
    at the breaks can confirm that the damage is the result of hail stones and not the result of foot fall
    or mechanical actions. Hail damage to a roof is quantified by the analysis of “test squares” (10’ x 10’ Area).
    The purpose of the test squares is to determine the amount of hail damage in a representative area of the roof.
    The test square results are then applied to the individual roof fields, or the roof as a whole, to estimate
    the total damage incurred. Protocol calls for the examination of four (4) test squares – One (1) facing each
    direction. Larger and/or more complex roofs typically require additional test squares at the discretion of
    the adjuster. Additionally, a cursory overview of the remainder of each field is conducted to confirm the
    findings of the test squares.
  </p>
}

@if (@Model == ReportType.DirectInspectionBituminousMembranes)
{
  <div class="SectionLabel">Roof - Hail</div>
  <p class="mt-2">
    All forms of bituminous roofing should have a UV shield of some type in order to achieve service life expectancy.
    This protection typically comes in the form of ceramic granules, gravel surfacing, or aluminum coatings.
    Loss of protective coating leads to rapid degradation of the bitumen. Modern, smooth-surfaced, built-up roofs have
    fibrous glass felts, providing a sturdy, finished membrane. However, the coating can be compromised by hail exposure,
    even when the felt plies remain intact. Many such occurrences can be restored by application of new coating.
    Physical damage to the membrane from hail stones will be in the form of fractures, tears, and bruising at the
    impact location. Hail damage to a roof is quantified by the analysis of “test squares” (10’ x 10’ Area).
    The purpose of the test squares is to determine the amount of hail damage in a representative area of the roof.
    The test square results are then applied to the individual roof fields, or the roof as a whole, to estimate the
    damage incurred. Protocol calls for the examination of four (4) test squares – One (1) facing each direction.
    Larger and/or more complex roofs typically require additional test squares at the discretion of the adjuster.
    Additionally, a cursory overview of the remainder of each field is conducted to confirm the findings of the test
    squares.
  </p>
}

@if (@Model == ReportType.DirectInspectionMetal)
{
  <div class="SectionLabel">Roof - Hail</div>
  <p class="mt-2">
    Hail may dent metal panel roofs but seldom causes functional damage because the panels are well-supported by direct
    contact
    with the substrate over most of the surface, leaving them highly resistant to denting by hail. When metal panel roofs
    suffer
    functional damage, it’s often caused by hail damaging a seam or trim, which may then allow moisture to enter the roof
    structure.
    Possible scenarios during which functional damage may occur include severe hail damage to especially vulnerable
    components,
    such as seams, ridge and hip caps, gabled end trim and eave trim, and any place where panel edges meet, and where
    damage
    may allow moisture intrusion and leakage or lower the wind resistance of the affected area.
    Hail damage to a roof is quantified by the analysis of “test squares” (10’ x 10’ Area). The purpose of the test
    squares is to
    determine the amount of hail damage in a representative area of the roof. The test square results are then applied to
    the individual
    roof fields, or the roof as a whole, to estimate the total damage incurred. Protocol calls for the examination of four
    (4) test squares
    – One (1) facing each direction. Larger and/or more complex roofs typically require additional test squares at the
    discretion of the
    adjuster. Additionally, a cursory overview of the remainder of each field is conducted to confirm the findings of the
    test squares.
  </p>
}

@if (@Model == ReportType.DirectInspectionWood)
{
  <div class="SectionLabel">Roof - Hail</div>
  <p class="mt-2">
    Performance-reducing damage to a wood shingle/shake comes in the form of a hail strike which is directly over a fresh
    split or adjacent to
    a fresh split where the hail struck an unsupported section of the shingle/shakes. Typically spatter marks are present
    at the impact point,
    confirming the damage is the result of a hail stone, and not from foot fall or mechanical in nature. Spatter marks are
    areas where the
    natural oxidation and dirt, which have accumulated over time, is removed by the cleaning effect of the hail impact.
    Spatter marks are
    cosmetic in nature and are not performance-reducing damage. They do not affect the water shedding ability of the roof,
    nor do they affect
    its remaining service life. Hail damage to a roof is quantified by the analysis of “test squares” (10’ x 10’ Area).
    The purpose of the
    test squares is to determine the amount of hail damage in a representative area of the roof. The test square results
    are then applied
    to the individual roof fields, or the roof as a whole, to estimate the total damage incurred. Protocol calls for the
    examination of
    four (4) test squares – One (1) facing each direction. Larger and/or more complex roofs typically require additional
    test squares
    at the discretion of the adjuster. Additionally, a cursory overview of the remainder of each field is conducted to
    confirm the
    findings of the test squares.
  </p>
}
